header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    .logo {
        
    }

    .compras {
        button {
            background: none;
            border: none;
            margin: 0 .5rem;
            cursor: pointer;
        }

    }

    .menu {
        a {
            font-family: $Secondary-Font;
            color: $Blanco;
            text-decoration: none;
            font-size: 1.5625rem;
            margin: 0 2.5rem;
            transition:500ms ease-in-out;
            &:hover{
                border-bottom:3px solid $Naranja ;
            }
        }
    }
}