@import './css/fontsColor.scss';
@import './css/header.scss';
@import './css/hero.scss';
@import './css/Tienda.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
}

.contenedor{
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: auto;  
}
